@{
    ViewData["Title"] = "Principal";
}

<div class="container-fluid" id="home">
    <section id="indice">
        <div>
            <a asp-controller="Conta" asp-action="Resumo" class="btn">Contas</a>
        </div>
        <!--<div>
            <a asp-controller="Evento" asp-action="Indice" class="btn">Eventos</a>
        </div>-->
        <div>
            <a asp-controller="Senha" asp-action="Senhas" class="btn">Senhas</a>
        </div>
    </section>
</div>